[data-theme='dark'] {
    /* background colors */
    --bg-color-main: #111214;
    --bg-color-1: #202124;
    --bg-color-2: #E6E6E6;

    /* border colors */
    --border-color-1: #4A4D52;
    --border-color-2: #202124;

    /* text colors */
    --text-color-1: #E6E6E6;
    --text-color-2: #202124;
    --text-color-disabled: #777A7E;

    /* text font settings */
    --text-font-family-1: Arial, sans-serif;
    --text-font-family-2: "Times New Roman";
    --text-font-family-mono: Consolas, Monaco, 'Courier New', monospace;
    --text-font-size-xxs: 10px;
    --text-font-size-xs: 12px;
    --text-font-size-small: 14px;
    --text-font-size-medium: 16px;
    --text-font-size-large: 20px;
    --text-font-size-xl: 26px;
    --text-font-size-xxl: 32px;
    --text-font-weight-semibold: 400;
    --text-font-weight-bold: 600;
    --text-font-weight-extrabold: 800;

    /* tooltip settings */
    --tooltip-background: #E6E6E6;
    --tooltip-font-family: sans-serif;
    --tooltip-font-size: 16px;
    --tooltip-text-color: #202124;

    /* tab settings */
    --tab-bg-color-1: #2C2C2C;
    --tab-bg-color-2: color-mix(in oklch, var(--tab-bg-color-1), white 8%);
    --tab-text-color-1: #E6E6E6;
    --tab-open-icon: "\23F4";
    --tab-closed-icon: "\23F5";
    --tab-font-size: 24px;
    --tab-height: 32px;

    /* lock icon settings */
    --lock-icon-locked: "\1F512";
    --lock-icon-unlocked: "\1F513";
}