[data-theme='light'] {
    /* background colors */
    --bg-color-main: #FFFFFF;
    --bg-color-1: #F6F6F4;
    --bg-color-2: #252525;

    /* border colors */
    --border-color-1: #555555;
    --border-color-2: #C8C8C8;

    /* text colors */
    --text-color-1: #202020;
    --text-color-2: #F6F6F4;
    --text-color-disabled: #888888;

    /* text font settings */
    --text-font-family-1: Arial, sans-serif;
    --text-font-family-2: 'Times New Roman';
    --text-font-family-mono: Consolas, Monaco, 'Courier New', monospace;
    --text-font-size-xxs: 10px;
    --text-font-size-xs: 12px;
    --text-font-size-small: 14px;
    --text-font-size-medium: 16px;
    --text-font-size-large: 20px;
    --text-font-size-xl: 26px;
    --text-font-size-xxl: 32px;
    --text-font-weight-semibold: 400;
    --text-font-weight-bold: 600;
    --text-font-weight-extrabold: 800;

    /* tooltip settings */
    --tooltip-background: #252525;
    --tooltip-font: sans-serif;
    --tooltip-text-color: #F6F6F4;

    /* tab settings */
    --tab-bg-color-1: #F6F6F4;
    --tab-text-color-1: #252525;
    --tab-open-icon: "\23F4";
    --tab-closed-icon: "\23F5";
    --tab-arrow-spacing-left: -4px;
    --tab-arrow-spacing-right: 0px;
    --tab-font-size: 24px;
    --tab-height: 32px;
    --tab-open-close-icon-size: 16px;

    /* lock icon settings */
    --lock-icon-locked: "\1F512";
    --lock-icon-unlocked: "\1F513";
}