#history_sidebar {
    position: fixed;
    right: 0;
    top: var(--toolbar-height);

    color: var(--text-color-1);
    display: flex;
    flex-direction: row;
    transform: translateX(var(--history-sidebar-width));
    transition: transform 0.25s ease;
    z-index: 1000;
}

#history_sidebar.open {
    transform: translateX(0);
}

#history_sidebar.open .sidebar_panel_container {
    transform: translateX(0);
}

#history_sidebar #history_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#history_sidebar #history_list li {
    border-bottom: 1px solid var(--border-color-1);
    cursor: pointer;
    padding: 4px 8px;
}

#history_sidebar #history_list li.inactive {
    color: var(--text-color-disabled);
}

#history_sidebar #history_list li > span {
    color: red;
    float: right;
}

#history_sidebar .history_panel {
    position: relative;
    height: 100vh;

    background: var(--bg-color-1);
    border-left: 1px solid var(--border-color-1);
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    scrollbar-gutter: stable;
    z-index: 100;
}

#history_sidebar .history_panel.open {
    display: block;
}

#history_sidebar .history_panel p {
    margin: 5px 0 10px 0;
}

#history_sidebar .history_panel_container {
    transform: translateX(0);
    transition: transform 0.25s ease;
    width: var(--history-sidebar-width);
}

#history_sidebar .tab_container .tab_wrapper {
    position: relative;
}

#history_sidebar .tab_container .tab_wrapper button {
    position: relative;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    text-align: left;
}

#history_sidebar .tab_container .tab_wrapper button.tab {
    align-items: center;
    background: var(--tab-bg-color-1);
    border-bottom: 1px solid var(--border-color-1);
    border-left: 1px solid var(--border-color-1);
    color: var(--tab-text-color-1);
    cursor: pointer;
    font-size: var(--tab-font-size);
    gap: 0;
    height: var(--tab-height);
    justify-content: center;
    vertical-align: middle;
    width: auto;
    z-index: 100;
}

#history_sidebar .tab_container .tab_wrapper button.tab.open {
    background: var(--tab-bg-color-2);
    padding-left: 5px;
    border-radius: 8px 0 0 8px;
}

#history_sidebar h1 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xxl);
    font-weight: var(--text-font-weight-bold);
}

#history_sidebar h2 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xl);
    font-weight: var(--text-font-weight-bold);
}

#history_sidebar h3 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-large);
    font-weight: var(--text-font-weight-bold);
}

#history_sidebar h4, 
#history_sidebar h5, 
#history_sidebar h6 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
    font-weight: var(--text-font-weight-semibold);
}

#history_sidebar div,
#history_sidebar p,
#history_sidebar span {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
}