#palette_sidebar {
    position: fixed;
    left: 0;
    top: var(--toolbar-height);

    color: var(--text-color-1);
    display: flex;
    flex-direction: row;
    transform: translateX(calc(-1 * var(--palette-sidebar-width)));
    transition: transform 0.25s ease;
    z-index: 1000;
}

#palette_sidebar.open {
    transform: translateX(0);
}

#palette_sidebar.open .mapping_panel_container {
    transform: translateX(0);
}

#palette_sidebar #palette_row_prime {
    display: none;
}

#palette_sidebar .mapping_panel {
    position: relative;
    height: 100vh;

    background: var(--bg-color-1);
    border-right: 1px solid var(--border-color-1);
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    scrollbar-gutter: stable;
    z-index: 100;
}

#palette_sidebar .mapping_panel.open {
    display: block;
}

#palette_sidebar .mapping_panel p {
    margin: 5px 0 10px 0;
}

#palette_sidebar .mapping_panel_container {
    transform: translateX(calc(-1 * var(--palette-sidebar-width)));
    transition: transform 0.25s ease;
    width: var(--palette-sidebar-width);
}

#palette_sidebar .palette_row {
    align-items: center;
    display: flex;
    font-family: var(--text-font-family-mono);
    gap: 5px;
    letter-spacing: -0.025em;
    margin: 2px 0;
    padding: 1px;
}

#palette_sidebar .palette_row > .lock_button::before {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#palette_sidebar .palette_row > .lock_button.locked::before {
    content: var(--lock-icon-locked);
}

#palette_sidebar .palette_row > .lock_button.unlocked::before {
    content: var(--lock-icon-unlocked);
}

#palette_sidebar .palette_row > .lock_button.locked ~ .target_color > .palette_select_button {
    display: none;
}

#palette_sidebar .palette_row .source_color,
#palette_sidebar .palette_row .target_color {
    display: inline-block;
}

#palette_sidebar .palette_row .palette_select_button {
    display: none;
}

#palette_sidebar .palette_row.custom_mode .palette_select_button {
    display: inline-block;
    margin-left: -5px;
}

#palette_sidebar .palette_select_button {
    cursor: pointer;
    display: inline-block;
}

#palette_sidebar .swatch {
    border: 1px solid var(--border-color-1);
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

#palette_sidebar .tab_container {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#palette_sidebar .tab {
    align-items: center;
    background: var(--tab-bg-color-1);
    border-bottom: 1px solid var(--border-color-1);
    border-right: 1px solid var(--border-color-1);
    color: var(--tab-text-color-1);
    cursor: pointer;
    display: flex;
    gap: 0;
    height: var(--tab-height);
    justify-content: center;
    width: auto;
    z-index: 100;
}

#palette_sidebar .tab > .tab_arrow {
    font-size: var(--tab-open-close-icon-size);
    line-height: 1;
    margin-left: var(--tab-arrow-spacing-left);
    margin-right: var(--tab-arrow-spacing-right);
    text-align: center;
}

#palette_sidebar .tab.open > .tab_arrow::before {
    content: var(--tab-open-icon);
}

#palette_sidebar .tab:not(.open) > .tab_arrow::before {
    content: var(--tab-closed-icon);
}

#palette_sidebar .tab > .tab_icon {
    font-size: var(--tab-font-size);
    vertical-align: middle;
}

#palette_sidebar h1 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xxl);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h2 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xl);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h3 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-large);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h4, h5, h6 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
    font-weight: var(--text-font-weight-semibold);
}

#palette_sidebar div,
#palette_sidebar p,
#palette_sidebar span {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
}

#palette_sidebar .palette_row .source_hex,
#palette_sidebar .palette_row .target_hex {
    font-family: var(--text-font-family-mono);
    font-size: var(--text-font-size-medium);
    text-transform: uppercase;
}

#palette_sidebar .palette_row .source_swatch,
#palette_sidebar .palette_row .target_swatch {
    margin-right: 4px;
}