#palette_sidebar {
    position: fixed;
    left: 0;
    top: var(--toolbar-height);

    color: var(--text-color-1);
    display: flex;
    flex-direction: row;
    transform: translateX(calc(-1 * var(--palette-sidebar-width)));
    transition: transform 0.25s ease;
    width: var(--palette-sidebar-width);
}

#palette_sidebar.open,
#palette_sidebar.open .container,
#palette_sidebar.open .container .panel,
#palette_sidebar.open .tab_container {
    transform: translateX(0);
}

#palette_sidebar .panel {
    position: relative;

    background: var(--bg-color-1);
    border-right: 1px solid var(--border-color-1);
    display: none;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    scrollbar-gutter: stable;
    width: var(--palette-sidebar-width);
    z-index: 100;
}

#palette_sidebar .panel.open {
    display: block;
}

#palette_sidebar .panel p {
    margin: 5px 0 10px 0;
}

#palette_sidebar .panel_container {
    position: absolute;
    top: 0;
    left: 0;

    width: var(--palette-sidebar-width);
}

#palette_sidebar .palette_row {
    align-items: center;
    display: flex;
    font-family: var(--text-font-family-mono);
    gap: 5px;
    letter-spacing: -0.025em;
    margin: 2px 0;
    padding: 1px;
}

#palette_sidebar .palette_row > .lock_button::before {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#palette_sidebar .palette_row > .lock_button.locked::before {
    content: var(--lock-icon-locked);
}

#palette_sidebar .palette_row > .lock_button.unlocked::before {
    content: var(--lock-icon-unlocked);
}

#palette_sidebar .palette_row > .lock_button.locked ~ .target_color > .palette_select_button {
    display: none;
}

#palette_sidebar .palette_row .source_color,
#palette_sidebar .palette_row .target_color {
    display: inline-block;
}

#palette_sidebar .palette_row .palette_select_button {
    display: none;
}

#palette_sidebar .palette_row.custom_mode .palette_select_button {
    display: inline-block;
    margin-left: -5px;
}

#palette_sidebar .palette_select_button {
    cursor: pointer;
    display: inline-block;
}

#palette_sidebar .swatch {
    border: 1px solid var(--border-color-1);
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

#palette_sidebar .tab_container {
    position: relative;
    left: var(--palette-sidebar-width);
    top: 0;

    display: flex;
    flex-direction: column;
}

#palette_sidebar .tab_container .tab_wrapper {
    position: relative;
}

#palette_sidebar .tab_container .tab_wrapper button {
    position: relative;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    text-align: left;
}

#palette_sidebar .tab_container .tab_wrapper button.tab {
    align-items: center;
    background: var(--tab-bg-color-1);
    border-bottom: 1px solid var(--border-color-1);
    border-right: 1px solid var(--border-color-1);
    color: var(--tab-text-color-1);
    cursor: pointer;
    font-size: var(--tab-font-size);
    gap: 0;
    height: var(--tab-height);
    justify-content: center;
    vertical-align: middle;
    width: auto;
    z-index: 100;
}

#palette_sidebar .tab_container .tab_wrapper button.tab.open {
    background: var(--tab-bg-color-2);
    padding-right: 5px;
}

#palette_sidebar .tab_container .tab_wrapper button.tab.open::before,
#palette_sidebar .tab_container .tab_wrapper button.tab.open::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

#palette_sidebar .tab_container .tab_wrapper button.tab.open::before {
    right: -9px;

    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 9px solid var(--border-color-1);
}

#palette_sidebar .tab_container .tab_wrapper button.tab.open::after {
    right: -8px;

    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 9px solid var(--tab-bg-color-2);
}

#palette_sidebar #palette_row_prime {
    display: none;
}

#palette_sidebar h1 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xxl);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h2 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-xl);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h3 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-large);
    font-weight: var(--text-font-weight-bold);
}

#palette_sidebar h4, 
#palette_sidebar h5, 
#palette_sidebar h6 {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
    font-weight: var(--text-font-weight-semibold);
}

#palette_sidebar div,
#palette_sidebar p,
#palette_sidebar span {
    font-family: var(--text-font-family-1);
    font-size: var(--text-font-size-medium);
}


#palette_sidebar .palette_container .palette_grid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fit, 32px);
    justify-content: center;
}

#palette_sidebar .palette_container .palette_grid .swatch {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

#palette_sidebar .palette_container .palette_hex {
    font-size: var(--text-font-size-xl);
    font-weight: var(--text-font-weight-bold);
    opacity: 0;
    text-transform: uppercase;
}

#palette_sidebar .palette_container .palette_hex_container {
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    width: auto;
}

#palette_sidebar .palette_row .source_hex,
#palette_sidebar .palette_row .target_hex {
    font-family: var(--text-font-family-mono);
    font-size: var(--text-font-size-medium);
    text-transform: uppercase;
}

#palette_sidebar .palette_row .source_swatch,
#palette_sidebar .palette_row .target_swatch {
    margin-right: 4px;
}