#toolbar {
    position: fixed;
    left: 0;
    top: 0;

    background: var(--bg-color-1);
    border-bottom: 1px solid var(--border-color-1);
    color: var(--text-color-1);
    display: flex;
    font-family: var(--text-font-family-1);
    height: var(--toolbar-height);
    width: 100%;
    z-index: 1001;
}

#toolbar button.toolbar_item {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    text-align: left;
}

#toolbar .toolbar_item {
    position: relative;

    cursor: pointer;
    padding: 6px 12px ;
    user-select: none;
}

#toolbar button.toolbar_item:hover,
#toolbar .toolbar_item:hover,
#toolbar .menu_item:hover {
    background: var(--bg-color-2);
    color: var(--text-color-2);
}

#toolbar .toolbar_item:hover > .toolbar_menu {
    display: flex;
    flex-direction: column;
}

#toolbar .toolbar_item.has_submenu::after {
    content: '\2BC8';
}

#toolbar .toolbar_item .toolbar_item[aria-disabled="true"],
#toolbar .toolbar_item .toolbar_item:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none; 
}

#toolbar .toolbar_menu {
    position: absolute;
    left: 0;
    top: 100%;
    
    background: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    color: var(--text-color-1);
    cursor: default;
    display: none;
    min-width: 180px;
    z-index: 1000;
}

#toolbar .toolbar_menu.submenu {
    left: 100%;
    top: 0;
}

#toolbar .menu_item {
    position: relative;

    background: var(--bg-color-1);
    color: var(--text-color-1);
    padding: 6px 12px;
    white-space: nowrap;
}

#toolbar .menu_item:hover > .submenu {
    display: block;
}

#toolbar .menu_separator {
    background: var(--bg-color-2);
    color: var(--text-color-1);
    height: 1px;
    margin: 4px 0;
}