@keyframes pulse_highlight {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
}

#highlight_canvas {
    position: absolute;
    left: 0;
    top: 0;

    pointer-events: none;
}

#highlight_canvas,
#preview_canvas {
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
}

.canvas_container {
    position: relative;

    background-color: #FFFFFF;
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 24px 24px;
    background-position: 0 0, 0 12px, 12px -12px, -12px 0;
    border: 1px solid var(--border-color-1);
    box-sizing: border-box;
    height: 0;
    width: 0;
}

.pulse {
    animation: pulse_highlight 1s infinite ease-in-out;
}

.workspace {
    background: var(--bg-color-main);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--toolbar-height);
    min-height: 80vh;
    padding: 10px;
}