#preview_canvas {
    display: none;
    image-rendering: pixelated;
}

.canvas_container {
    border: 1px solid var(--border-color-1);
    display: inline-block;
    background:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0;
}

.workspace {
    background: var(--bg-color-main);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--toolbar-height);
    min-height: 80vh;
    padding: 10px;
}